
.w {
    width: 80%;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fl ul li a span {
    color: red;
}
.fr {
    float: right;
}
.style_red {
    color: #36a9ec;
}
/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.logo h1 {
    position: absolute;
    top: 25px;
    width: 200px;
    height: 101px;
    line-height: 100px;
    color: #36a9ec;
}
.header {
    position: relative;
    height: 105px;
}
.search {
    position: absolute;
    left: 346px;
    top: 55px;
    margin-left: 90px;
    width: 538px;
    height: 36px;
    line-height: 90px;
    border: 2px solid #36a9ec;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
    color: #666;
}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #36a9ec;
    font-size: 16px;
    color: #fff;
}
.shopcar {
    position: absolute;
    right: 200px;
    top: 25px;
    line-height: 90px;
}
.nav {
    position: relative;
    height: 47px;
    margin-top: 100px;
    border-bottom: 2px solid #36a9ec;
}
.nav .dt {
     width: 19.5%;
    height: 19.5%;
    color: #fff;
    background-color: #36a9ec;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.navitems {
    position: absolute;
    left: 350px;
    top: 0;
}
.navitems li {
    float: left;
}
.navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 45px;
}
.navitems li a:hover {
    color: white;
    background-color: #36a9ec;
}
.dd {
    float: left;
    width: 210px;
    height: 465px;
    background-color: #36a9ec;
}
.dd ul li {
    position: relative;
    height: 36px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.dd ul li:hover {
   background-color: #fff;
}
 .dd ul li a {
    font-size: 14px;
    color: #fff;
}
 .dd ul li:hover a {
    color: #36a9ec;
}
.focus {
    margin: 10px 20px;
    float: left;
    width: 621px;
    height: 455px;
    /* background-color: purple; */
}
.focus img {
    width: 621px;
    height: 455px;
    padding: 0 10px;
}
.focus .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

.focus .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.write {
    margin: 12px 0 0 0;
    float: right;
    width: 201px;
    height: 455px;
} 
.write img {
    width: 100%;
    height: 100%;
}
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 482px;
}
.recom_hd {
    float: left;
    height: 163px;
    width: 210px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 50px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
    margin-left: 37px;
}
.recom_bd ul li img {
    width: 180px;
    height: 163px;
}
.main {
    margin-top: 10px;
    /* background-color: purple; */
}
.main h3 {
    font-size: 25px;
    font-weight: 400;
    color: #36a9ec;
    border-bottom: 2px solid #36a9ec;
}
.main h3 a {
    float: right;
    font: 400 15px  '宋体';
    padding-top: 15px;
}
.main ul li {
    float: left;
    width: 210px;
    margin-top: 30px;
    margin-left: 79px;
}
.main ul li a img {
    height: 231px;
    width: 210px;
    margin-bottom: 10px;
}
.main li:first-child {
    margin-left: 0;
}
.main ul li span {
    color: rgb(231, 18, 18);
    font: 700 20px '宋体';
}
.main ul li p {
    overflow: hidden;
    margin: 15px 0;
    font: 14px Microsoft YaHei;
    height: 40px;
    color: rgb(99, 87, 87);
}
.main ul li p:hover {
    overflow: initial;
}
.footer {
    /* height: 415px; */
    background-color: #f5f5f5;
    margin-top: 400px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 150px;
}
.service_txt h4 {
    padding-top: 30px;
    font-size: 14px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 150px;
}
.mod_help dl {
    float: left;
    width: 200px;
    margin-right: 90px;
    margin-bottom: 30px;
}