
.w {
    width: 80%;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fl ul li a span {
    color: red;
}
.fr {
    float: right;
}
.style_red {
    color: #36a9ec;
}
/* 快捷导航模块 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.logo h1 {
    position: absolute;
    top: 25px;
    width: 200px;
    height: 101px;
    line-height: 100px;
    color: #36a9ec;
}
.header {
    position: relative;
    height: 105px;
}
.search {
    position: absolute;
    left: 346px;
    top: 55px;
    margin-left: 90px;
    width: 538px;
    height: 36px;
    line-height: 90px;
    border: 2px solid #36a9ec;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
    color: #666;
}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #36a9ec;
    font-size: 16px;
    color: #fff;
}
.shopcar {
    position: absolute;
    right: 200px;
    top: 25px;
    line-height: 90px;
}
.nav {
    font-size: 25px;
    font-weight: 400;
    margin-top: 100px;
    color: #36a9ec;
    border-bottom: 2px solid #36a9ec;
}
.main ul {
    margin-bottom: 20px;
}
.main ul li {
    float: left;
    width: 210px;
    margin-top: 30px;
    margin-left: 79px;
}
.main ul li a img {
    height: 231px;
    width: 210px;
    margin-bottom: 10px;
}
.main li:first-child {
    margin-left: 0;
}
.main ul li span {
    color: rgb(231, 18, 18);
    font: 700 20px '宋体';
}
.main ul li p {
    overflow: hidden;
    margin: 15px 0;
    font: 14px Microsoft YaHei;
    height: 40px;
    color: rgb(99, 87, 87);
}
.buy {
    margin-top: 15px;
}
.buy a:first-child {
    margin-right: 5px;
    font: 400 17px '宋体';
}
.buy a:nth-child(2) {
    float: right;
    width: 120px;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 20px;
    background-color: rgb(231, 18, 18);
}
.footer {
    /* height: 415px; */
    background-color: #f5f5f5;
    margin-top: 900px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 150px;
}
.service_txt h4 {
    padding-top: 40px;
    font-size: 14px;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 150px;
}
.mod_help dl {
    float: left;
    width: 200px;
    margin-right: 90px;
    /* margin-bottom: 30px; */
}